@import "../../common/styles/variables.scss";

.gate {
  color: $text-primary;
  height: 100%;
}

.lock-icon {
  img {
    height: 72px;
    width: 72px;
  }
}

.submit-btn {
  background-color: $primary-btn-color;
  border: none;
  border-radius: 4px;
  padding: 8px;

  &:hover:not(:disabled) {
    opacity: 0.9;
  }
  &:active:not(:disabled) {
    transform: scale(0.98);
  }
  &:disabled {
    opacity: 0.5;
    cursor: not-allowed;
  }

  .svg {
    height: 24px;
    width: 24px;
  }
}
