<div class="gate d-flex flex-column align-items-center justify-content-center">
  <div class="d-flex flex-column justify-content-center align-items-center gap-2">
    <div class="lock-icon">
      <img src="assets/lock.svg"/>
    </div>
    <h2>This room is protected</h2>

    <div class="d-flex gap-2">
      <ui-text-input
        type="password"
        placeholder="Enter password"
        [(ngModel)]="password"
      ></ui-text-input>

      <!-- <ui-button
        [customSlot]="true"
      >
        <img class="svg" src="assets/form-next.svg">
      </ui-button> -->
      <button class="submit-btn" (click)="onSubmit()">
        <img class="svg" src="assets/form-next.svg">
      </button>
    </div>
  </div>

  @if (error) {
    <p class="error">
      Wrong password. Try again.
    </p>
  }
</div>
