@import "../../common/styles/variables.scss";

:host {
  display: block;
  height: 100%;
  width: 100%;

  .editor-container {
    height: 100%;
    width: 100%;
    border-radius: $radius-lg;
    overflow: hidden;
    background-color: $bg-editor;
    box-shadow: inset 0 0 0 1px $border-color;
  }
}
