@import "../../../common/styles/variables.scss";

:host {
  display: block;
  height: 100vh;
  background-color: $bg-dark;
  display: flex;
  justify-content: center;
  align-items: center;
  color: $text-primary;
  .auth-container {
    width: 40%;
    width: 510px;
    padding: 1rem;

    .auth-form {
      background-color: #222d3a;
      border-radius: 0.5rem;
      padding: 5rem;
      h2 {
        margin: auto;
        margin-bottom: 1rem;
      }
      display: flex;
      flex-direction: column;
      gap: 0.75rem;
    }
  }
}

