<button
  [disabled]="disabled || isLoading"
  [class]="`btn ${btnType}`"
  [class.is-loading]="isLoading"
  (click)="onClick()"
>
  <div class="content-wrapper">
    @if (isLoading) {
      <span class="spinner"></span>
    }
    <span class="btn-text d-flex align-items-center gap-2">
      @if (customSlot) {
        <ng-content></ng-content>
      }
      @else {
        @if (leadingIcon) {
          <img [src]="leadingIcon"/>
        }
        {{ isLoading ? "" : label }}
      }
    </span>
  </div>
</button>
