@import "../../common/styles/variables.scss";
:host {
  width: 100%;

  .container {
    background-color: $bg-card;
    height: 100vh;
    width: 100%;
    font-size: 1.5rem;

    .text {
      color: $text-muted;
    }
    .code-icon {
      height: 120px;
      width: 120px;
      opacity: 0.5;
    }
  }
}
