<div class="editor-room">
  @switch (state) {
    @case ('loading') {
      <ui-primary-loader/>
    }
    @case ('password') {
      <app-room-password
        (submit)="onPasswordSubmit($event)"
      ></app-room-password>
    }
    @case ('ready') {
      @if (!!roomId && !!this.editorDetails) {
          <h3 class="room-title">{{ editorDetails.name }}</h3>
          <app-editor-component
            class="editor"
            [webSocketServer]="webSocketServer"
            [roomId]="roomId"
            [user]="user ?? undefined"
          />
      }
    }
  }
  <!-- @if (!!roomId && !!this.editorDetails) {
      <h3 class="room-title">{{ editorDetails.name }}</h3>
      <app-editor-component
        class="editor"
        [webSocketServer]="webSocketServer"
        [roomId]="roomId"
        [user]="user ?? undefined"
      />
  }
  @else {
    <ui-primary-loader/>
  } -->
</div>

