// Variables for easy theming
$bg-dark: #0d1117;
$bg-editor: #161b22;
$text-primary: #dadfe6;
$text-secondary: #8b949e;
$accent-blue: #58a6ff; // For User A
$accent-green: #3fb950; // For User B
$border-color: #30363d;
$error-color: #f85149;

$primary-btn-color: #2F85E7;

$link-btn-font-color: #1368F4;
