<div class="sidebar-container">
  <div class="btn-container">
    <button class="room-tile btn-tertiary mb-1 d-flex align-items-center gap-2 w-100 fw-bold" (click)="openNewRoomDialog('host')">
      <img class="svg" src="assets/plus-file.svg"/>
      New room
    </button>
    <button class="room-tile btn-tertiary mb-1 d-flex align-items-center gap-2 w-100 fw-bold" (click)="openNewRoomDialog('join')">
      <img class="svg" src="assets/room-join.svg"/>
      Join room
    </button>
  </div>


  <div class="rooms-list-container mt-2">
    <div class="header">Recently visited</div>

    <div class="rooms-list mt-2">
      @for (room of (recentlyVisitedRooms$ | async); track $index) {
        <a
          [routerLink]="`/editor/${room.roomId}`"
          routerLinkActive="active"
          class="room-tile btn-tertiary mb-1 d-flex align-items-center gap-2"
        >
          <img class="svg" src="assets/file-code.svg"/>
          {{ room.name }}
        </a>
      }
    </div>
  </div>

  @if (showNewRoomDialog && formType) {
    <ui-dialog header="" (closeDialog)="closeNewRoomDialog()">
      <app-room-form [formType]="formType" (submitForm)="closeNewRoomDialog()" />
    </ui-dialog>
  }
</div>

