
@use "./collaborative-code-editor/common/styles/basics.scss";
@import "../node_modules/bootstrap/scss/bootstrap.scss";
@import "./collaborative-code-editor/common/styles/forms.scss";
@import "./collaborative-code-editor/common/styles/button.scss";
@import "./collaborative-code-editor/common/styles/variables.scss";
@import "./collaborative-code-editor/common/styles/basics.scss";
@import "./collaborative-code-editor/common/styles/forms.scss";

* {
    padding: 0;
    margin: 0;
}

.monaco-editor {
    padding: 1rem 0.2rem;
  }
